* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #c0c0c0;
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2vh;
  width: 70%;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  background-color: #fff;
  padding: 0 3vw;
  height: 4vh;
}

.card-header i {
  cursor: pointer;
}

#form input {
  width: 100%;
  padding: 0 3vw;
  height: 4vh;
}

#list-items {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.list-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  padding: 0 3vw;
  height: 4vh;
}

.list-content label {
  margin-left: 2vw;
}

.list-content i {
  cursor: move;
}

.clear-btn {
  height: 6vh;
}

.fa-solid.fa-trash-can {
  cursor: pointer;
}
